﻿@model EmarriageFinal.Models.MarriageReg2

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="registration_form">
        <h4>প্রথম বিয়ের নিবন্ধন ফর্ম</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MaleName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaleName)
                @Html.ValidationMessageFor(model => model.MaleName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaleFatherName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaleFatherName)
                @Html.ValidationMessageFor(model => model.MaleFatherName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaleMotherName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaleMotherName)
                @Html.ValidationMessageFor(model => model.MaleMotherName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaleAge, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaleAge)
                @Html.ValidationMessageFor(model => model.MaleAge)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaleNID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaleNID)
                @Html.ValidationMessageFor(model => model.MaleNID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaleAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaleAddress)
                @Html.ValidationMessageFor(model => model.MaleAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FemaleName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FemaleName)
                @Html.ValidationMessageFor(model => model.FemaleName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FemaleFatherName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FemaleFatherName)
                @Html.ValidationMessageFor(model => model.FemaleFatherName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FemaleMotherName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FemaleMotherName)
                @Html.ValidationMessageFor(model => model.FemaleMotherName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FemaleNID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FemaleNID)
                @Html.ValidationMessageFor(model => model.FemaleNID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FemaleAge, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FemaleAge)
                @Html.ValidationMessageFor(model => model.FemaleAge)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FemaleAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FemaleAddress)
                @Html.ValidationMessageFor(model => model.FemaleAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegDate)
                @Html.ValidationMessageFor(model => model.RegDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WitnessName1Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WitnessName1Address)
                @Html.ValidationMessageFor(model => model.WitnessName1Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WitnessName2Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WitnessName2Address)
                @Html.ValidationMessageFor(model => model.WitnessName2Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AmountOfMohur, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmountOfMohur)
                @Html.ValidationMessageFor(model => model.AmountOfMohur)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaidAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaidAmount)
                @Html.ValidationMessageFor(model => model.PaidAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Religion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Religion)
                @Html.ValidationMessageFor(model => model.Religion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegFee, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegFee)
                @Html.ValidationMessageFor(model => model.RegFee)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
