﻿@using System.Web.UI.WebControls
@model EMarriageFinal.Models.Check
@{
    ViewBag.Title = "CheckMarriage";
    ViewBag.massege1 = ViewBag.massege;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/mobiscroll-2.9.5.full.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />


</head>
<body>
    <div>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        @Html.ActionLink("Home", "DefaultHome", "DefaultHome", null, new { @class = "navbar-brand" })

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Registration <span class="caret"></span></a>
                            <ul class="dropdown-menu ">
                                <li>@Html.ActionLink("First Marriage", "MarriageRegistration", "MarriageRegistration")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Secound Marriage", "MarriageReg2", "MarriageRegistration")</li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>



        @using (Html.BeginForm())
        {

            <fieldset>
                <legend>Check Married Or Unmarried </legend>
                <table>
                    <tr>
                        <td>@Html.LabelFor(c => c.MaleNID)</td>
                        <td>@Html.TextBoxFor(m => m.MaleNID)</td>
                        <td>@Html.ValidationMessageFor(m => m.MaleNID)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(c => c.FemaleNID)</td>
                        <td>@Html.TextBoxFor(m => m.FemaleNID)</td>
                        <td>@Html.ValidationMessageFor(m => m.FemaleNID)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Submit" /></td>
                    </tr>
                </table>
            </fieldset>
        }


    </div>
    @ViewBag.massege1
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(function () {
            $("ul.nav li.dropdown").hover(function () {
                $(".dropdown-menu", this).fadeIn();
            }, function () {
                $(".dropdown-menu", this).fadeOut("fast");
            });
        })
    </script>


</body>

</html>

