﻿@model EMarriageFinal.Models.Admin
@{
    ViewBag.Title = "AdminLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>

</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>Admin Login Page</legend>
                <table>
                    <tr>
                        <td>@Html.LabelFor(c => c.Email)</td>
                        <td>@Html.TextBoxFor(m => m.Email)</td>
                        @*<td>@Html.ValidationMessageFor(m => m.Email)</td>*@
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Password)</td>
                        <td>@Html.TextBoxFor(model => model.Password)</td>
                        <td>@Html.ValidationMessageFor(m => m.Password)</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><input type="submit" value="Login" /></td>
                    </tr>

                </table>
            </fieldset>
        }
        @ViewBag.Message1

    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>

