﻿@model EMarriageFinal.Models.MarriageRegistration

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MarriageRegistration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaleFatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaleFatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaleMotherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaleMotherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaleAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaleAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaleNID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaleNID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaleAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaleAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FemaleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FemaleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FemaleFatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FemaleFatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FemaleMotherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FemaleMotherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FemaleNID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FemaleNID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FemaleAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FemaleAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FemaleAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FemaleAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WitnessName1Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WitnessName1Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WitnessName2Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WitnessName2Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountOfMohur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountOfMohur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstWifeNID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstWifeNID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegFee)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
