﻿@model IEnumerable<EMarriageFinal.Models.MarriageRegistration>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaleFatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaleMotherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaleAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaleNID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaleAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FemaleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FemaleFatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FemaleMotherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FemaleNID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FemaleAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FemaleAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WitnessName1Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WitnessName2Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOfMohur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Religion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstWifeNID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegFee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaleFatherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaleMotherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaleAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaleNID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaleAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FemaleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FemaleFatherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FemaleMotherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FemaleNID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FemaleAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FemaleAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WitnessName1Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WitnessName2Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountOfMohur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaidAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Religion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstWifeNID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegFee)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
